{% extends "master.html" %}

{% block title %}
加入購物車 | {{ food.name }}
{% endblock %}

{% block content %}
<h2>新增購物車餐點</h2>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<img src="{{ food.img.url }}" alt="{{ food.name }}" style="width: 300px;">
<h3>{{ food.name }}</h3>
<p>售價: NT${{ food.price }}</p>
<form action="" method="post">
    {% csrf_token %}
    <label for="quantity">餐點數量: </label><br>
    {{ addofood_form.quantity }}<br>
    <input type="submit" value="確認">
</form>
{% endblock %}