{% extends "master.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{{ post_form.errors }}

{% if request.user.is_authenticated %}
<div style="text-align: center;">
    <h1>您已經登入了!</h1>
    <a href="{% url 'member_info' %}">點擊查看個人資料</a>
</div>
{% else %}
<h2>登入</h2>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="." method="post">
    {% csrf_token %}
    <label for="username">帳號: </label>
    {{ login_form.username }}
    <br>
    <label for="password">密碼: </label>
    {{ login_form.password }}
    <br>
    <input type="submit" value="登入">
</form>
<p>還沒有帳號嗎? <a href="{% url 'register' %}">點擊註冊</a></p>
{% endif %}

{% endblock %}