{% extends "master.html" %}

{% block title %}
預約取餐系統
{% endblock %}

{% block content %}
<div class="search">
    <form action="." method="post">
        {% csrf_token %}
        <label for="text">搜尋:</label>
        {{ Search_Form.text }}
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<h1>餐廳</h1>

<table>
    {% for x in all_restaurants %}
    <tr>
        <td><img src="{{ x.img.url }}" alt="{{ x.name }}" style="width: 300px;"></td>
        <td>
            <a href="restaurant/{{ x.id }}">
                <h3>{{ x.name }}</h3>
            </a>
        </td>
        <td>
            <p>&starf; {{ x.get_rating|floatformat:1 }}</p>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}