{% extends "master.html" %}

{% block title %}
{{ myrestaurant.name }}
{% endblock %}

{% block content %}
<img src="{{ myrestaurant.img.url }}" alt="{{ myrestaurant.name }}" style="width: 400px;">
<h3>{{ myrestaurant.name }}</h3>
<p>評分: &starf; {{ myrestaurant.get_rating|floatformat:1 }}</p>
<p>{{ myrestaurant.address }}</p>
<h1>菜單</h1>
<table>
    {% for x in menu %}
    <tr>
        <td>
            <img src="{{ x.img.url }}" alt="{{ x.name }}" style="width: 300px;">
        </td>
        <td>
            <a href="{% url 'food' x.id %}">
                <h3>{{ x.name }}</h3>
            </a>
        </td>
        <td>
            <p>售價: NT${{ x.price }}</p>
        </td>
        <td>
            <p>&starf; {{ x.get_rating|floatformat:1 }}</p>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}